body {
  background-image: url("Login_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 50px;
  padding: 5px;
  background-color: gray;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.grid-item {
  border: 1px solid black;
  width: 125px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: gray;
  color: yellow;
  border-radius: 5px;
}

img {
  height: 30px;
}

.skill-level {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 20px;
}

.skill-part-top {
  position: relative;
  top: 10%;
  right: 45%;
}

.skill-part-bottom {
  position: absolute;
  top: 40%;
  left: 55%;
}

.skill-separator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
  width: 40px;
  height: 2px;
  background-color: black;
  z-index: 0;
}

.tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 100;
  opacity: 0.8;
  font-size: 12px;
  pointer-events: none;
}

.btn {
  margin-top: 10px;
  width: 170px;
  height: 25px;
  border-radius: 10px;
  border-style: none;
  color: yellow;
  background-color: hsl(0, 0%, 70%);
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.btn:hover {
  background-color: hsl(0, 0%, 60%);
}

.input-field {
  margin-top: 1px;
  font-weight: bolder;
  font-size: medium;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  font-size: 2em;
}

h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.header-text {
  margin-bottom: 0px;
  font-size: 2.5em;
}

table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
  border-radius: 5px;
}

td,
th {
  padding: 15px;
  font-size: 1.5em;
}

td {
  font-size: 1em;
  font-weight: bold;
}

table {
  width: 50%;
  border: 1px solid black;
  background-color: hsl(0, 0%, 50%);
  border-radius: 5px;
}

thead {
  font-size: large;
  font-weight: bolder;
  font-size: 1.5em;
  text-align: left;
  background-color: hsl(0, 0%, 40%);
}

tbody > tr {
  border-radius: 5px;
  width: 50%;
  border: 1px solid black;
  background-color: hsl(0, 0%, 50%);
}
.yellow {
  color: yellow;
}
